body {
    background-color: lightblue;
}

/* #god_list {
    width: 50%;
    margin: 0 auto;
}

#mode_list {
    width: 50%;
    margin: 0 auto;
} */

#god_selector {
    width: 75%;
    margin: 0 auto;
}